[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is my first repository
[access "refs/*"]
	owner = group user/Artur Azarskyy (ArturAzarskyy)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Artur Azarskyy (ArturAzarskyy)
	label-Verified = -1..+1 group user/Artur Azarskyy (ArturAzarskyy)
	push = group user/Artur Azarskyy (ArturAzarskyy)
	read = group user/Artur Azarskyy (ArturAzarskyy)
	rebase = group user/Artur Azarskyy (ArturAzarskyy)
	removeReviewer = group user/Artur Azarskyy (ArturAzarskyy)
	submit = group user/Artur Azarskyy (ArturAzarskyy)
[access "refs/heads/*"]
	create = group user/Artur Azarskyy (ArturAzarskyy)
	push = +force group user/Artur Azarskyy (ArturAzarskyy)
	pushMerge = group user/Artur Azarskyy (ArturAzarskyy)
	read = group user/Artur Azarskyy (ArturAzarskyy)
[access "refs/tags/*"]
	push = group user/Artur Azarskyy (ArturAzarskyy)
	push = +force group user/Artur Azarskyy (ArturAzarskyy)
